/* 슬라이더 공통 */
.section {
    padding-bottom: 140px;
}

h3.sec_tit {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: -1.9px;
    color: #1f1f1f;
    text-align: center;
    margin-bottom: 40px;
}

.section02 {
    background: url(https://www.bing.co.kr/img/main/2023/pc_section02_1.png) no-repeat center / cover;
}
.sec02_slider{
  max-width: 1650px;
  width: 100%;
  margin: 0 auto 140px;
  position: relative;
}
.sec02_li01 {
    transition: transform 1.5s ease, opacity 1s ease;
    transition-delay: 0.0s;
}
.sec02_slider01_list, .sec02_slider02_list {
    overflow: hidden;
}
.sec02_slider.sec02_slider01 h3.sec_tit,
.sec02_slider.sec02_slider02 h3.sec_tit {
    margin-bottom: 20px;
}

.sec02_li01 {
    transition: transform 1.5s ease, opacity 1s ease;
}
.sec02_slider01_list li .txt_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 43px;
    border-radius: 21px;
    color: #1f1f1f;
    font-size: 16px;
    background-color: #f9f9f9;
    margin-top: 12px;
    transition: none;
}
.sec02_slider01_list li .txt_box .hover_txt {
    display: none;
    letter-spacing: normal;
}
.sec02_slider01_list li.on .txt_box span {
    display: none;
}
.sec02_slider01_list li .img_box img, .sec02_slider02_list li img {
    display: block;
}

.slide_list li:hover {
    transform: translateY(-20px);
}



/* 버튼 */

/* 이전 버튼 커스텀  */
.bx-wrapper .bx-controls-direction .bx-prev {
    position: absolute;
    top: 210px;
    left: 0;
    cursor: pointer;
    z-index: 1;
    background: url('https://www.bing.co.kr/img/icon/prev_arrow.png') no-repeat center/
    contain;
}
.bx-wrapper .bx-controls-direction .bx-next {
    position: absolute;
    top: 210px;
    right: 0;
    cursor: pointer;
    z-index: 1;
    background: url('https://www.bing.co.kr/img/icon/next_arrow.png') no-repeat center/
    contain;
}
